body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-div {
  background-color: rgb(232, 233, 206);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;


}


.App {
  display: flex;
  justify-content: center;
  min-height: 400px;
  min-width: fit-content;
  width: 30px;
  border: 2px solid rgb(28, 25, 25);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-wrap: wrap;
  box-sizing: border-box;
  text-shadow: 2px 2px 5px;
  padding: 20px;
  border-radius: 20px;
  overflow-wrap: normal;
  background-color: rgb(232, 233, 206);
  height: min-content;
  border-radius: 5px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);

}

.form-control {
  margin-top: 30px;


}

/* button {
  text-align: center;
  align-items: center;
} */

span {
  margin: 0px 20px 0px 20px;
  font-size: larger;
}

.add-button {
  height: 50px;
  margin-top: 29px;
  margin-left: 5px !important;
  width: 50px;
  align-items: center;
  font-weight: 50;

}


.mapped-list {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  align-items: center;
  padding: 5px;
}


.selected-item {
  text-decoration: line-through;
}